<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are our bargain books:</h2>
     <!-- Create a table to display book details -->
     <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>Book Name</th>
          <th>Price (£)</th>
        </tr>
      </thead>
      <tbody>
      <% availableBooks.forEach(function(book) { %>
        <tr>
          <td><%= book.name %></td>
          <td>£<%= book.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
    </body>
</html>
