<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are the books that we sell:</h2>
    
    <!-- Create a table to display book details -->
    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through availableBooks to display each book in a table row -->
        <% availableBooks.forEach(function(book) { %>
          <tr>
            <td><%= book.name %></td>
            <td>£<%= book.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </body>
</html>
